/* Basic styling for the body */
body {
    margin: 0;
    padding: 0;
    min-height: 180vh; /* Ensures page is scrollable */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F2E8D9; /* Light beige background color */
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

/* Container for the main content */
.container {
    margin-top: 100px;
}

/* Styling for the images */
img {
    max-width: 200px;
}

/* Styling for the main heading */
h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #F37021; /* Brown bread color */
}

/* Styling for the paragraphs */
p {
    font-size: 1.5em;
    margin-top: 50px; /* Increased space between the button and the text */
    margin-bottom: 20px;
    color: #dd4314; /* Darker brown for a rustic feel */
}


 /* Centering the button */
 button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #d2722d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #8B4513;
  }

/* Additional styling for the content */
.content {
    flex: 1; /* Ensure this section grows to fill the space */
    background: rgba(255, 127, 0, 0.1); /* Light orange background for the text */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Styling for the image link */
.image-link {
    margin-top: 50px; /* Increased space between the button and the image */
}

.image-link img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.image-link img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Bread oven image at the bottom of the page */
.bread-oven {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5; /* Adjust the opacity for translucency */
    z-index: -1; /* Ensure it stays behind other content */
    width: 100%;
}

.bread-oven img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Increased the size of the bread oven image */
    opacity: 0.5; /* Further adjust opacity if needed */
}
